<ion-view view-title="Employee Detail">
  <ion-content class="main-content-wrap">
    <ion-list>
        <section class="user-head-section">
            <div class="img-circle">
                <img src="img/icons/icon-user-male.jpg" alt=""/>
            </div>
            <span>{{details.full_name}}</span>
            <span>{{details.employee_code}}</span>
        </section>
        <div class="default-content-wrap">
            <div class="default-listing-view">
                <span class="employee-detail-title">Job title</span><!--
                --><span>{{details.job_title}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Grade Code</span><!--
                --><span>{{details.grade_code}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Dept. Name</span><!--
                --><span>{{details.department_name}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Employed On</span><!--
                --><span  ng-bind="details.employed_date | date:'yyyy/MM/dd'"></span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Confirmation</span><!--
                --><span ng-bind="details.confirmation_date | date:'yyyy/MM/dd'"></span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Citizenship No.</span><!--
                --><span>{{details.citizenship_no}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Date of Birth</span><!--
                --><span>{{details.dob.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Bank A/C No.</span><!--
                --><span>{{details.bank_account_no}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Blood Group</span><!--
                --><span>{{details.blood_group_name}}{{details.blood_group_type}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Mobile No.</span><!--
                --><span>{{details.mobile}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">PAN No.</span><!--
                --><span>{{details.pan_no}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">PF No.</span><!--
                --><span>{{details.pf_no}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">CIT No.</span><!--
                --><span>{{details.cit_no}}</span>
            </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>