<ion-view view-title="Gate Pass History">

    <ion-content class="main-content-wrap">
     <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
      </ion-refresher>
        <section class="approvals-listing clearfix" ng-repeat="gatePassHistorys in gatePassHistory">
      
            <div class="approvals leave-listing clearfix">
                <span>Entry No.</span>
                <span>{{gatePassHistorys.Entry_No}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>GatePass Start Date</span>
                <span>{{gatePassHistorys.StartDate.split('T')[0]}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>GatePass End Date</span>
                <span>{{gatePassHistorys.EndDate.split('T')[0]}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>GatePass Start Time</span>
                <span>{{gatePassHistorys.StartTime.split('T')[1]}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>GatePass End Time</span>
                <span>{{gatePassHistorys.EndTime.split('T')[1]}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>GatePass Reason</span>
                <span>{{gatePassHistorys.Gate_Pass_Reasons}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>Place</span>
                <span>{{gatePassHistorys.Place}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>Status</span>
                <span>{{gatePassHistorys.Status}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>Remarks</span>
                <span>{{gatePassHistorys.Remarks}}</span>
            </div>
        </section>
       <!--  <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll> -->
    </ion-content>
</ion-view>


