<ion-view view-title="Leave Application System">
  <ion-content class="main-content-wrap">
    <ion-list>
        <div class="default-content-wrap">
            <a href="#/app/employee-detail" class="btn-view-all"><i class="ion-chevron-right"></i></a>
            <h2 class="content-title">Employee Details</h2>
            <div class="default-listing-view">
                <span class="employee-detail-title">Employee Full Name</span><!--
                --><span>{{details.full_name}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Employee Code</span><!--
                --><span>{{details.employee_code}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Job title</span><!--
                --><span>{{details.job_title}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Grade Code</span><!--
                --><span>{{details.grade_code}}</span>
            </div>
        </div>

          <div class="default-content-wrap">
              <!--   <h2 class="content-title">Pending Leave Requests</h2> -->
                <ul class="dashoard-listing-content">
                    <li>
                        <div class="date">
                            <span ng-bind="PendingleaveRequests.date | date:'dd'"></span>
                            <span ng-bind="PendingleaveRequests.date | date:'MMM'"></span>
                            <span ng-bind="PendingleaveRequests.date | date:'yyyy'"></span>              
                        </div><!--
                        --><div class="default-listing-group">
                            <div class="default-listing">
                                <span>Leave Type</span><!--
                                --><span ng-repeat="leave_balance in leave_balances">{{leave_balance.leave_TypeField}}</span>
                            </div>
                            <div class="default-listing">
                                <span>Leave Balance</span><!--
                                --><span ng-repeat="leave_balance in leave_balances">{{leave_balance.balance_DaysField}}</span>
                            </div>
                            
                        </div>
                    </li>
                    
                
                </ul>
            </div>


      <!--   <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Leave Type</th>
                                <th>Leave Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="leave_balance in leave_balances">
                                <td>{{leave_balance.leave_TypeField}}</td>
                                <td>{{leave_balance.balance_DaysField}}</td>
                            </tr>
                        </tbody>
                     </table> -->
        
        
        
    </ion-list>
  </ion-content>
</ion-view>
