<ion-view view-title="Leave History">
    <ion-content class="main-content-wrap">
       <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
      </ion-refresher>
        <section class="approvals-listing clearfix" ng-repeat="leaveHistorys in leaveHistory | limitTo:numberOfItemsToDisplay ">
            <div class="approvals leave-listing clearfix">
                <span>Leave Start Date</span>
                <span>{{leaveHistorys.Leave_Start_Date.split('T')[0]}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>Leave End Date</span>
                <span>{{leaveHistorys.Leave_End_Date.split('T')[0]}}</span>
            </div>
             <div class="approvals leave-listing clearfix">
                <span>Leave Type</span>
                <span>{{leaveHistorys.Leave_Description}}</span>
            </div>
             <div class="approvals leave-listing clearfix">
                <span>Leave Code</span>
                <span>{{leaveHistorys.Leave_Type_Code}}</span>
            </div>
           <div class="approvals leave-listing clearfix">
                <span>Status</span>
                <span>{{leaveHistorys.Status}}</span>
            </div>
             <div class="approvals leave-listing clearfix">
                <span>Remarks</span>
                <span>{{leaveHistorys.Remarks}}</span>
            </div>
        </section>
       <!--  <ion-infinite-scroll on-infinite="loadMore()" distance="2%">
        </ion-infinite-scroll> -->
        <!--  <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content> -->
</ion-view>
