<div class="login-wrap">
    <div class="login-top-section">
        <img src="img/login-logo.png" alt=""/>
        <h2>Sipradi Trading Pvt. Ltd.</h2>
    </div>
    <form id="login-form" ng-submit="login(loginform.$valid)" name="loginform" novalidate>
        <div class="login-group">
            <i class="ion ion-person"></i>
            <input id="username" class="" name="username" type="text" placeholder="Username" ng-model="loginData.username" required />
              <span ng-show="(loginform.username.$dirty || submitted) && loginform.username.$error.required">Username is required</span>
        </div>
        <div class="login-group">
            <i class="ion ion-key"></i>
            <input id="password" class="" name="password" type="password" placeholder="Password" ng-model="loginData.password" required="required" />
             <span ng-show="(loginform.password.$dirty || submitted) && loginform.password.$error.required">Password is required</span>
        </div>
        <div class="login-group">
            <i class="ion ion-ios-briefcase"></i>
          <select class="form-control" ng-model="loginData.company" name="company" id="company">
                        <option ng-repeat="list in companyList" value="{{list}}">{{list}}</option>
          </select>
        </div>
        <input type="submit" value="Login"/>
    </form>
</div>