<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable user-aside">
        <div class="user-aside-img-wrap">
            <img src="img/icons/icon-user-male.jpg" alt=""/>
        </div>
        <span>Amrit Shah</span>
    </ion-header-bar>
    <ion-content id="main-nav">
      <ion-list>
        <ion-item menu-close href="#/app/dashboard">
            <img src="img/icons/icon-home.png" alt=""/>
            Home
        </ion-item>
        <ion-item menu-close href="#/app/request-leave">
            <img src="img/icons/icon-request-leave.png" alt=""/>
            Request Leave
        </ion-item>
        <ion-item menu-close href="#/app/request-gate-pass">
            <img src="img/icons/icon-gate-pass.png" alt=""/>
            Request Gate Pass
        </ion-item>
        <ion-item menu-close href="#/app/request-odd-trainning">
            <img src="img/icons/icon-gate-pass.png" alt=""/>
            Request OOD/Training
        </ion-item>
        <ion-item class="has-submenu">
            <img src="img/icons/icon-approval.png" alt=""/>
            Approvals
            <div class="sub-menu">
                <ion-item menu-close href="#/app/pending-leave-request">
                    Pending Leave Request 
                </ion-item>
                <ion-item menu-close href="#/app/pending-gate-pass">
                    Pending Gate Pass 
                </ion-item>
                 <ion-item menu-close href="#/app/pending-odd-trainning">
                    Pending ODD/Trainning Request 
                </ion-item>
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/leave-history">
            <img src="img/icons/icon-history.png" alt=""/>
            Leave History
        </ion-item>
        <ion-item menu-close href="#/app/gate-pass-history">
            <img src="img/icons/icon-history.png" alt=""/>
            Gate Pass History
        </ion-item>
        <ion-item menu-close href="#/app/odd-trainning-history">
            <img src="img/icons/icon-history.png" alt=""/>
            ODD/Trainning History
        </ion-item>
          
       <ion-item ng-click="logout()" menu-close href="#">
            <img src="img/icons/icon-logout.png" alt=""/>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
