<ion-view view-title="ODD/Trainning History">
    <ion-content class="main-content-wrap">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
      </ion-refresher>
        <section class="approvals-listing clearfix" ng-repeat="OddTrainingHistory in OddTrainingHistorys">
            <div class="approvals leave-listing clearfix">
                <span>Entry No.</span>
                <span>{{OddTrainingHistory.Entry_No}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>Type</span>
                <span>{{OddTrainingHistory.Type}}</span>
            </div>
             <div class="approvals leave-listing clearfix">
                <span>Place</span>
                <span>{{OddTrainingHistory.Place}}</span>
            </div>
            <div class="approvals leave-listing clearfix">
                <span>Purpose</span>
                <span>{{OddTrainingHistory.Purpose}}</span>
            </div>
            
            <div class="approvals leave-listing clearfix">
                <span>Start Date</span>
                <span>{{OddTrainingHistory.StartDate.split('T')[0]}}</span>
            </div>
           
            <div class="approvals leave-listing clearfix">
                <span>End Date</span>
                <span>{{OddTrainingHistory.EndDate.split('T')[0]}}</span>
            </div>
             <div class="approvals leave-listing clearfix">
                <span>Remarks</span>
                <span>{{OddTrainingHistory.Remarks}}</span>
            </div>
             <div class="approvals leave-listing clearfix">
                <span>Status</span>
                <span>{{OddTrainingHistory.Status}}</span>
            </div>
           
        </section>

        <!--  <ion-infinite-scroll on-infinite="loadMore()" distance="2%">
        </ion-infinite-scroll> -->
       
    </ion-content>
</ion-view>
