<ion-view view-title="Pending Leave Approval">
  <ion-content class="main-content-wrap">
    <ion-list>
        <div class="default-content-wrap">
            <div class="default-listing-view">
                <span class="employee-detail-title">Leave Request No.</span><!--
                --><span>{{leaveapprovalList.Leave_Request_No}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">No. Of Days</span><!--
                --><span>{{leaveapprovalList.No_of_days}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Work Shift Code</span><!--
                --><span>{{leaveapprovalList.Work_Shift_Code}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Leave Type Code</span><!--
                --><span>{{leaveapprovalList.Leave_Type_Code}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Leave Start Date</span><!--
                --><span>{{leaveapprovalList.Leave_Start_Date.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Leave End Date</span><!--
                --><span>{{leaveapprovalList.Leave_End_Date.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Leave Start Time</span><!--
                --><span>{{leaveapprovalList.Leave_Start_Time.split('T')[1]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Leave End Time</span><!--
                --><span>{{leaveapprovalList.Leave_End_Time.split('T')[1]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Pay Type</span><!--
                --><span>{{leaveapprovalList.Pay_Type}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Remarks</span><!--
                --><span>{{leaveapprovalList.Remarks}}</span>
            </div>
            <div class="default-listing-view remarks">
                <span class="employee-detail-title">Approve Remarks</span>
                <textarea class="form-control" name="approver-remarks" ng-model="remarks"></textarea>
            </div>
            
            <button class="btn-approve" ng-click="Approval(leaveapprovalList.Leave_Request_No,'Approve',remarks)">Approve</button>
            <button class="btn-disapprove" ng-click="Approval(leaveapprovalList.Leave_Request_No,'Disapprove',remarks)">Disapprove</button>
        </div>
    </ion-list>
  </ion-content>
</ion-view>