<ion-view view-title="Pending Leave Request">
    <ion-content class="main-content-wrap">

   <!-- <section class="approvals-listing clearfix" ng-if="!pendingRequestlists.length">
            <div class="approvals clearfix">
                <span>Leave Request No.</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                <span>Employe No.</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                <span>Full Name</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave Start Date</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave End Date</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave Start Time</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave End Time</span>
                <span>No Data</span>
            </div>
            <div class="approvals clearfix">
                
            </div>
        </section> -->



        <section class="approvals-listing clearfix" ng-repeat="pendingRequestlist in pendingRequestlists | limitTo:numberOfItemsToDisplay">
            <div class="approvals clearfix">
                <span>Leave Request No.</span>
                <span>{{pendingRequestlist.Leave_Request_No}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Employe No.</span>
                <span>{{pendingRequestlist.Employee_No}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Full Name</span>
                <span>{{pendingRequestlist.Full_Name}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave Start Date</span>
                <span>{{pendingRequestlist.Leave_Start_Date.split('T')[0]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave End Date</span>
                <span>{{pendingRequestlist.Leave_End_Date.split('T')[0]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave Start Time</span>
                <span>{{pendingRequestlist.Leave_Start_Time.split('T')[1]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Leave End Time</span>
                <span>{{pendingRequestlist.Leave_End_Time.split('T')[1]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>
                    <a href="#/app/pending-leave-request-approval/{{pendingRequestlist.Leave_Request_No}}"><i class="ion-ios-information-empty"></i></a>
                    <a href="" ng-click="Approval(pendingRequestlist.Leave_Request_No,'Approve')" ><i class="ion-ios-checkmark-empty"></i></a>
                    <a href="" ng-click="Approval(pendingRequestlist.Leave_Request_No,'Disapprove')"><i class="ion-ios-close-empty"></i></a>
                </span>
            </div>
        </section>
       
         <button class="button button-positive"  ng-click="loadMore()" ng-if="pendingRequestlists.length>numberOfItemsToDisplay">Load More!</button>

       <!--    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
       
        
       
    </ion-content>
</ion-view>
