<ion-view view-title="Pending ODD/Trainning Request">
    <ion-content class="main-content-wrap">
        <section class="approvals-listing clearfix" ng-repeat="pendingOddTrainingtlist in pendingOddTrainingtlists | limitTo:numberOfItemsToDisplay">
            <div class="approvals clearfix">
                <span>Entry No.</span>
                <span>{{pendingOddTrainingtlist.Entry_No}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Employe Code.</span>
                <span>{{pendingOddTrainingtlist.Employee_Code}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Full Name</span>
                <span>{{pendingOddTrainingtlist.Full_Name}}</span>
            </div>
            <div class="approvals clearfix">
                <span>ODD/Trainning Start Date</span>
                <span>{{pendingOddTrainingtlist.StartDate}}</span>
            </div>
            <div class="approvals clearfix">
                <span>ODD/Trainning End Date</span>
                <span>{{pendingOddTrainingtlist.EndDate}}</span>
            </div>
            <div class="approvals clearfix">
                <span>ODD/Trainning Start Time</span>
                <span>{{pendingOddTrainingtlist.StartTime}}</span>
            </div>
            <div class="approvals clearfix">
                <span>ODD/Trainning End Time</span>
                <span>{{pendingOddTrainingtlist.EndTime}}</span>
             
            </div>
              <div class="approvals clearfix">
                <span>Type</span>
                <span>{{pendingOddTrainingtlist.Type}}</span>
             
            </div>
            <div class="approvals clearfix">
                <span>
                    <a href="#/app/pending-odd-trainning-approval/{{pendingOddTrainingtlist.Entry_No}}"><i class="ion-ios-information-empty"></i></a>
                    <a href="" ng-click="Approval(pendingOddTrainingtlist.Entry_No,'Approve')"><i class="ion-ios-checkmark-empty"></i></a>
                    <a href="" ng-click="Approval(pendingOddTrainingtlist.Entry_No,'Disapprove')"><i class="ion-ios-close-empty"></i></a>
                </span>
            </div>
        </section>
       
        <button class="button button-positive" ng-click="loadMore()" ng-if="pendingOddTrainingtlists.length>numberOfItemsToDisplay">Load More!</button>
       

    </ion-content>
</ion-view>