<ion-view view-title="ODD/Trainning Approval/Disapproval">
  <ion-content class="main-content-wrap">
    <ion-list>
        <div class="default-content-wrap">
            <div class="default-listing-view">
                <span class="employee-detail-title">Type</span><!--
                --><span>{{OddTrainingDetails.Type}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Entry No.</span><!--
                --><span>{{OddTrainingDetails.Entry_No}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Full Name</span><!--
                --><span>{{OddTrainingDetails.Full_Name}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Advance Amount</span><!--
                --><span>{{OddTrainingDetails.AdvanceAmount}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Start Date</span><!--
                --><span>{{OddTrainingDetails.StartDate.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">End Date</span><!--
                --><span>{{OddTrainingDetails.EndDate.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Start Time</span><!--
                --><span>{{OddTrainingDetails.StartTime.split('T')[1]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">End time</span><!--
                --><span>{{OddTrainingDetails.EndTime.split('T')[1]}}</span>
            </div><!--
            
            --><div class="default-listing-view">
                <span class="employee-detail-title">Place</span><!--
                --><span>{{OddTrainingDetails.Place}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Purpose</span><!--
                --><span>{{OddTrainingDetails.Purpose}}</span>
            </div><!--
              --><div class="default-listing-view">
                <span class="employee-detail-title">Mode Of Travel</span><!--
                --><span>{{OddTrainingDetails.ModeOfTravel}}</span>
            </div><!--
              --><div class="default-listing-view">
                <span class="employee-detail-title">Route Of Travel</span><!--
                --><span>{{OddTrainingDetails.TravelRoute}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Remarks</span><!--
                --><span>{{OddTrainingDetails.Remarks}}</span>
            </div><!--
             --><div class="default-listing-view remarks">
                <span class="employee-detail-title">Approve Remarks</span>
                <textarea class="form-control" name="approver-remarks" ng-model="remarks"></textarea>
            </div>
            
            <button class="btn-approve" ng-click="Approval(OddTrainingDetails.Entry_No,'Approve',remarks)">Approve</button>
            <button class="btn-disapprove" ng-click="Approval(OddTrainingDetails.Entry_No,'Disapprove',remarks)">Disapprove</button>
        </div>
    </ion-list>
  
      </ion-content>
     
</ion-view>