<ion-view view-title="Pending Gate Pass">
    <ion-content class="main-content-wrap">
        <section class="approvals-listing clearfix" ng-repeat="pendingGatePasstlist in pendingGatePasstlists | limitTo:numberOfItemsToDisplay">
            <div class="approvals clearfix">
                <span>Entry No.</span>
                <span>{{pendingGatePasstlist.Entry_No}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Employe Code.</span>
                <span>{{pendingGatePasstlist.Employee_Code}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Full Name</span>
                <span>{{pendingGatePasstlist.Full_Name}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Gatepass Start Date</span>
                <span>{{pendingGatePasstlist.StartDate.split('T')[0]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Gatepass End Date</span>
                <span>{{pendingGatePasstlist.EndDate.split('T')[0]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Gatepass Start Time</span>
                <span>{{pendingGatePasstlist.StartTime.split('T')[1]}}</span>
            </div>
            <div class="approvals clearfix">
                <span>Gatepass End Time</span>
                <span>{{pendingGatePasstlist.EndTime.split('T')[1]}}</span>
             
            </div>
            <div class="approvals clearfix">
                <span>
                    <a href="#/app/pending-gate-pass-approval/{{pendingGatePasstlist.Entry_No}}"><i class="ion-ios-information-empty"></i></a>
                    <a href="" ng-click="Approval(pendingGatePasstlist.Entry_No,'Approve')"><i class="ion-ios-checkmark-empty"></i></a>
                    <a href="" ng-click="Approval(pendingGatePasstlist.Entry_No,'Disapprove')"><i class="ion-ios-close-empty"></i></a>
                </span>
            </div>
        </section>
       
        <button class="button button-positive" ng-click="loadMore()" ng-if="pendingGatePasstlists.length>numberOfItemsToDisplay">Load More!</button>
       

    </ion-content>
</ion-view>