<ion-view view-title="Pending Gate Pass Approval">
  <ion-content class="main-content-wrap">
    <ion-list>
        <div class="default-content-wrap">
            <div class="default-listing-view">
                <span class="employee-detail-title">Entry No.</span><!--
                --><span>{{gatePassLeaveDetails.Entry_No}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Full Name</span><!--
                --><span>{{gatePassLeaveDetails.Full_Name}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Gate Pass Reason</span><!--
                --><span>{{gatePassLeaveDetails.Gate_Pass_Reasons}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Start Date</span><!--
                --><span>{{gatePassLeaveDetails.StartDate.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">End Date</span><!--
                --><span>{{gatePassLeaveDetails.EndDate.split('T')[0]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Start Time</span><!--
                --><span>{{gatePassLeaveDetails.StartTime.split('T')[1]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">End time</span><!--
                --><span>{{gatePassLeaveDetails.EndTime.split('T')[1]}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Time Required (Min.)</span><!--
                --><span ng-bind="MinTime(gatePassLeaveDetails.StartTime.split('T')[1],gatePassLeaveDetails.EndTime.split('T')[1])"></span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Place</span><!--
                --><span>{{gatePassLeaveDetails.Place}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Purpose</span><!--
                --><span>{{gatePassLeaveDetails.Purpose}}</span>
            </div><!--
            --><div class="default-listing-view">
                <span class="employee-detail-title">Remarks</span><!--
                --><span>{{gatePassLeaveDetails.Remarks}}</span>
            </div><!--
             --><div class="default-listing-view remarks">
                <span class="employee-detail-title">Approve Remarks</span>
                <textarea class="form-control" name="approver-remarks" ng-model="remarks"></textarea>
            </div>
            
            <button class="btn-approve" ng-click="Approval(gatePassLeaveDetails.Entry_No,'Approve',remarks)">Approve</button>
            <button class="btn-disapprove" ng-click="Approval(gatePassLeaveDetails.Entry_No,'Disapprove',remarks)">Disapprove</button>
        </div>
    </ion-list>
  
      </ion-content>
     
</ion-view>