<ion-view view-title="Request Gate Pass">
    <ion-content class="main-content-wrap">
        <form class="default-form" name="gatePassForm" ng-submit="GatePassRequestSubmit(gatePassForm.$valid)" novalidate>
            <div class="list">
                <div class="form-group">
                    <label class="input-label">Entry No.</label>
                    <input class="form-control" type="text" ng-model="entrydata.Entry_No" disabled="" />
                </div><!--
            --><div class="form-group">
                    <label class="input-label">Employee</label>

                    <select class="form-control" ng-model="entrydata.EmployeeCode" required  name="EmployeeCode" id="employee_code" ng-change="onChangeEmployee()" ng-options="employee.employee_code as employee.full_name for employee in employeeList  track by employee.employee_code">
                  <option value="">Select One</option>
                    </select>
                    <p ng-show="gatePassForm.EmployeeCode.$invalid && submitted" class="help-block">This is required.</p>
  
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Gate Pass Reason</label>
                     <select class="form-control" id="passReason" name="Gate_Pass_Reasons" ng-model="entrydata.Gate_Pass_Reasons" required ng-change="onChangePassReason()">
                          <option value="">Select One</option>
                        <option ng-repeat="gate_pass_reason in entrydata.gate_pass_reason" ng-value="gate_pass_reason.code">{{gate_pass_reason.name}}</option>
                    </select>
                    <span ng-show="gatePassForm.Gate_Pass_Reasons.$invalid && submitted" class="help-block">This is required.</span>
                      </div><!--
               --><div class="form-group" id="date-shows1">
                    <label class="input-label">Start Date</label>
                   <!--  <input class="form-control" name="startDate" id="startDate"  type="text"  ng-click="openDatePicker3()"/> -->
                   <input class="form-control" name="startDate"  id="startDate" type="text" ng-click="openDatePicker3()" />
                     <span ng-show="gatePassForm.startDate.$invalid && submitted" class="help-block">This is required.</span>
                    </div><!--
                --><div class="form-group" id="date-shows2">
                    <label class="input-label">End Date</label>
                   <!--  <input class="form-control" id="endDate" name="end_date"  type="text" ng-click="openDatePicker4()"/> -->
                      <input class="form-control" name="endDate" id="endDate" type="text" ng-click="openDatePicker4()" required />
                      <span ng-show="gatePassForm.endDate.$invalid && submitted" class="help-block">This is required.</span>
                    </div><!--
                --><div class="form-group">
                    <label class="input-label">Start Time</label>
                    <input class="form-control" name="start_time" id="startTime"  type="text" ng-click="openTimePicker3()"/>
                    <span ng-show="gatePassForm.start_time.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">End Time</label>
                    <input class="form-control" id="endTime" name="end_time"  type="text" ng-model="entrydata.EndTime"  ng-click="openTimePicker4()"/>
                    <span ng-show="gatePassForm.end_time.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Time Required (Min.)</label>
                    <input class="form-control" id="min-time" value="" type="text" disabled/>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Place</label>
                    <input class="form-control" name="place" ng-model="entrydata.Place" type="text" required/>
                    <span ng-show="gatePassForm.place.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Purpose</label>
                   <input class="form-control" name="purpose" ng-model="entrydata.Purpose" type="text" required/>
                            <span ng-show="gatePassForm.purpose.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group form-group-full">
                    <label class="input-label">Remarks</label>
                    <textarea rows="5" ng-model="entrydata.Remarks"></textarea>
                </div><!--
                --><div class="form-group form-group-full">
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>
     
    </ion-content>
</ion-view>
