<ion-view view-title="Request Leave">
    <ion-content class="main-content-wrap">
        <form class="default-form" ng-submit="LeaveRequestSubmit(leaveForm.$valid)" name="leaveForm" novalidate>
            <div class="list">
                <div class="form-group">
                    <label class="input-label">Leave Request No.</label>
                    <input class="form-control" name="leaveRequestNo" type="text" ng-model="formData.Leave_Request_No" disabled="" />
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Employee</label>
                     <select class="form-control" ng-model="formData.EmployeeCode" required name="EmployeeCode" id="employee_code" ng-change="getValueEmployee()" ng-options="employee.employee_code as employee.full_name for employee in employeeList  track by employee.employee_code">
                    <option value="">Select one</option>
                       <!--  <option ng-repeat="employee in employeeList" value="{{employee.employee_code}}" data-employee-designation="{{employee.designation}}" data-employee-department="{{employee.department_name}}" data-employee-branch-code="{{employee.branch_code}}" data-employee-branch="{{employee.branch}}">{{employee.full_name}}</option> -->
                    </select>
                  
                     <p ng-show="leaveForm.EmployeeCode.$invalid && submitted" class="help-block">Employee is required.</p>
                        
                    
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Leave Type</label>
                    <select  ng-model="formData.Leave_Typee" name="leave_type" ng-change="getValueLeaveType()" id="leave_type" required >
                        <option value="">Select one</option>
                         <option ng-repeat="leaveTypes in Leave_Type
" value="{{leaveTypes.leave_type_code}}">{{leaveTypes.leave_type}} [{{leaveTypes.leave_type_code}}]</option>
                        
                    </select>
                    <p ng-show="leaveForm.leave_type.$invalid && submitted" class="help-block">Leave type  is required.</p>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">On Hand Leave</label>
                     <input class="form-control" name="on_hand_leave" type="text" id="on_hand_leave" ng-model="formData.on_Hand_LeaveField" readonly />
                    
                </div><!--
                 --><div class="form-group">
                    <label class="input-label">Leave Sub Type</label>
                    <select class="form-control" ng-model="formData.annual_leave_sub_type" name="Sub_Leave_Type" id="sub_leave_type" ng-change="getSubType()">
                        <option value="">Select one</option>
                        <option ng-repeat="sub_type in annual_leave_sub_type" value="{{sub_type.code}}">{{sub_type.name}}</option>
                    </select>
                    
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Leave Start Date</label>
                    <input type="text" id="leave_start_date" name="leave_start_date" ng-model="formData.leave_start_date"  ng-click="openDatePicker()" />

                    <span ng-show="leaveForm.leave_start_date.$invalid && submitted" class="help-block">Leave start date is required.</span>

                </div><!--
                --><div class="form-group">
                    <label class="input-label">Leave End Date</label>
                    <input type="text" id="leave_end_date" name="leave_end_date" ng-model="formData.leave_end_date"  ng-click="openDatePicker2()"  />
                    <span ng-show="leaveForm.leave_end_date.$invalid && submitted" class="help-block">Leave end date is required.</span>
                </div><!--
                 --><div class="form-group">
                    <label class="input-label">No. Of Days</label>
                     <input class="form-control" type="text" id="noOfDay" name="no_of_days" ng-model="formData.no_of_days" readonly/>
                    
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Leave Start Time</label>
                     <input type="text" id="startTime" name="start_time"  ng-click="openTimePicker()"  />
                    <span ng-show="leaveForm.start_time.$invalid && submitted" class="help-block">Start time is required.</span>
                    
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Leave End Time</label>
                      <input type="text" id="endTime" name="end_time" ng-model="formData.EndTime" ng-click="openTimePicker2()"  />
                    <span ng-show="leaveForm.end_time.$invalid && submitted" class="help-block">End time is required.</span>
                    
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Time Required(Min.)</label>
                       <input id="min-time" value="" type="text" disabled/>
                   
                    
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Description</label>
                     <input class="form-control" name="description" type="text" ng-model="formData.description" required/>
                     <p ng-show="leaveForm.description.$invalid && submitted" class="help-block">Leave description is required.</p>
                </div><!--
               --><div class="form-group form-group-full">
                    <label class="input-label">Remarks</label>
                    <textarea rows="5" name="remarks" ng-model="formData.remarks"></textarea>
                </div><!--
                --><div class="form-group form-group-full">
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
