<ion-view view-title="New ODD Trainning Request">
    <ion-content class="main-content-wrap">
        <form class="default-form" name="OddTrainingForm" ng-submit="OddTrainigRequestSubmit(OddTrainingForm.$valid)" novalidate>
            <div class="list">
                   <div class="form-group">
                    <label class="input-label">Type</label>

                    <select class="form-control" id="type" name="Type" ng-model="entrydata.Type" required ng-change="changeTypes()">
                        <option value="" disabled>Select One</option>
                        <option ng-repeat="type in Types " ng-value="type.code">{{type.name}}</option>
                    </select>
                
                    <span ng-show="OddTrainingForm.Type.$invalid && submitted" class="help-block">This is required.</span>
                    </div><!--
               --><div class="form-group">
                    <label class="input-label">Entry No.</label>
                    <input class="form-control" type="text" ng-model="entrydata.Entry_No" disabled="" />
                </div><!--
                 --><div class="form-group">
                    <label class="input-label">Employee</label>

                    <select class="form-control" ng-model="entrydata.EmployeeCode" name="EmployeeCode" id="employee_code" ng-change="onChangeEmployee()" ng-options="employee.employee_code as employee.full_name for employee in employeeList  track by employee.employee_code" required>
                  <option value="" disabled>Select One</option>
                    </select>
                    <span ng-show="OddTrainingForm.EmployeeCode.$invalid && submitted" class="help-block">This is required.</span>
                    </div><!--

                --><div class="form-group">
                    <label class="input-label">Advance Amount</label>
                    <input class="form-control" name="AdvanceAmount" ng-model="entrydata.AdvanceAmount" type="text" required/>
                    <span ng-show="OddTrainingForm.AdvanceAmount.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                
               --><div class="form-group">
                    <label class="input-label">Start Date</label>
                    <input class="form-control" name="StartDate" id="StartDate" ng-model="entrydata.StartDate" type="text" required  ng-click="openStartDatePicker()"/>
                     <span ng-show="OddTrainingForm.StartDate.$invalid && submitted" class="help-block">This is required.</span>
                    </div><!--
                --><div class="form-group">
                    <label class="input-label">End Date</label>
                    <input class="form-control" id="EndDate" name="EndDate" ng-model="entrydata.EndDate" type="text" required ng-click="openEndDatePicker()"/>
                     <span ng-show="OddTrainingForm.EndDate.$invalid && submitted" class="help-block">This is required.</span>
                    </div><!--
                --><div class="form-group">
                    <label class="input-label">Start Time</label>
                    <input class="form-control" name="StartTime" id="StartTime" ng-model="entrydata.StartTime" type="text" required  ng-click="openStartTimePicker()"/>
                   <span ng-show="OddTrainingForm.StartTime.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">End Time</label>
                    <input class="form-control" id="EndTime" name="EndTime" ng-model="entrydata.EndTime" type="text" required  ng-click="openEndTimePicker()"/>
                   <span ng-show="OddTrainingForm.EndTime.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Time Required (Min.)</label>
                    <input class="form-control" id="min-time" value="" type="text" disabled/>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Place</label>
                 <input class="form-control" name="Place" ng-model="entrydata.Place" type="text" required/>
                    <span ng-show="OddTrainingForm.Place.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Purpose</label>
                   <input class="form-control" name="Purpose" ng-model="entrydata.Purpose" type="text" required/>
                    <span ng-show="OddTrainingForm.Purpose.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Mode Of Travel</label>
                    <input class="form-control" name="ModeOfTravel" ng-model="entrydata.ModeOfTravel" type="text" required/>
                    <span ng-show="OddTrainingForm.ModeOfTravel.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group">
                    <label class="input-label">Plan Of Travel</label>
                  <input class="form-control" name="TravelRoute" ng-model="entrydata.TravelRoute" type="text" required/>
                    <span ng-show="OddTrainingForm.TravelRoute.$invalid && submitted" class="help-block">This is required.</span>
                </div><!--
                --><div class="form-group form-group-full">
                    <label class="input-label">Remarks</label>
                  <textarea class="form-control" ng-model="entrydata.remarks"></textarea>
                </div><!--
                --><div class="form-group form-group-full">
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>
     
    </ion-content>
</ion-view>
