html {
    min-width: 320px;
    min-height: 400px;
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 400px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}


/*========== Start Default ==========*/
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px; 
}

h1 {
    font-size: 30px;
    color: rgb(22, 153, 206);   
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a,
a:hover, 
a:focus {
    text-decoration: none;
    transition: 400ms ease;
    outline: none;
}

ul:last-child {
    margin: 0;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar, 
[nav-bar-transition="android"] [nav-bar="entering"] .bar,
[nav-bar-transition="ios"] [nav-bar="active"] .bar, 
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background-color: rgb(44, 165, 214);
    border: none;
}

.bar.bar-stable .title,
.bar-stable .button.button-clear {
    left: 0 !important;
    right: 0 !important;
    color: rgb(255, 255, 255);
    text-align: center;
}

.main-content-wrap {
    padding: 10px;
}

.resposnive-img {
    width: 100%;
    height: auto;
}

span.back-text {
    display: none !important;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/*========== End Default ==========*/

/*========== Start Main Menu ==========*/
.menu.menu-left {
    background-image: url(../img/login-bg-light.jpg);
    background-size: cover;
    background-position: center;
}

ion-header-bar.bar.bar-stable.user-aside {
    padding: 5px 10px;;
    border: none;
    /*background-color: rgb(19, 134, 180);*/
    background-color: rgba(0, 0, 0, 0.2);
    background-image: none;
    color: rgb(255, 255, 255);
}

.user-aside-img-wrap {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 50%;
    overflow: hidden;
}

.user-aside-img-wrap img {
  width: 100%;
}

.user-aside span {
    font-size: 20px;
    padding: 5px 0;
}

#main-nav {
    background-color: transparent;
/*    background: rgb(53,170,217);
    background: -moz-linear-gradient(left, rgb(53,170,217) 0%, rgb(22,153,206) 100%);
    background: -webkit-linear-gradient(left, rgb(53,170,217) 0%,rgb(22,153,206) 100%);
    background: linear-gradient(to right, rgb(53,170,217) 0%,rgb(22,153,206) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35aad9', endColorstr='#1699ce',GradientType=1 );*/
}

#main-nav ion-item.has-submenu {
    padding: 10px 10px 0;
}

#main-nav ion-item.has-submenu a.item-content {
    padding: 10px 0;
}

#main-nav ion-item,
#main-nav ion-item a {
    margin: 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
}

#main-nav .item {
    overflow: visible;
}

#main-nav ion-item a.item-content {
    padding: 10px;
    /*border-bottom: 1px solid rgb(16, 133, 180);*/
    font-size: 14px;
    /*box-shadow: 0 1px 0 0 rgb(76, 194, 242);*/
    overflow: visible;
}

#main-nav ion-item a.item-content img, 
#main-nav ion-item img {
    width: 18px;
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
}

.sub-menu {
    margin: 10px 0 0;
    padding: 0 0 0 30px;
    /*background-color: rgb(19, 134, 180);*/
    background-color: rgba(0, 0, 0, 0.1);
}

#main-nav .sub-menu ion-item.item {
    padding: 0;
}

#main-nav .sub-menu ion-item a.item-content {
    position: relative;
    border: none;
    box-shadow: none;
}

#main-nav .sub-menu ion-item a.item-content:before {
    width: 10px;
    height: 1px;
    position: absolute;
    left: -20px;
    top: 20px;
    background-color: rgb(255, 255, 255);
    content: "";
}
/*========== End Main Menu ==========*/

/*========== Start Dashboard ==========*/
.default-content-wrap {
    position: relative;
    margin: 0 0 30px;
}

.default-content-wrap:last-child {
    margin: 0;
}

.btn-view-all {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    color: rgb(22, 153, 206);
    z-index: 1;
    text-align: right;
}

.content-title {
    position: relative;
    margin: 0 0 35px;
}

.content-title:after {
    width: 60px;
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: rgb(22, 153, 206);
    content: "";
}

.default-listing-view {
    width: 100%;
    display: inline-block;
    margin: 0 0 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 14px;
}

.default-listing-view span {
    width: 50%;
    display: inline-block;
    padding: 0 0 10px;
    color: rgb(119, 119, 119);
    text-align: right;
    vertical-align: top;
}

.default-listing-view .employee-detail-title {
    color: rgb(22, 153, 206);    
    text-align: left;
}

.remarks {
    text-align: left;
    
}

[view-title="Pending Leave Approval"] .remarks {
    display: block;
}

.remarks textarea {
    width: 100%;
}

.default-listing-view p {
    color: rgb(119, 119, 119);
}

.dashoard-listing-content li {
    margin: 0 0 10px;
    background-color: rgb(83, 189, 232);
    border-radius: 3px;
    overflow: hidden;
}

.dashoard-listing-content li:last-child {
    margin: 0 0 10px;
}

.date {
    width: 20%;
    padding: 5px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40, 157, 204);
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: top;
}

.date span {
    display: block;
}

.default-listing-group {
    width: 80%;
    display: inline-block;
    padding: 1px 0 ;
    color: rgb(255, 255, 255);
    vertical-align: top;
}

.default-listing {
    padding: 0 10px;
    border-bottom: 1px solid rgb(40, 157, 204);
}

.default-listing:last-child {
    border: none;
}
.default-listing span {
    width: 70%;
    display: inline-block;
    padding: 1px 0;
}

.default-listing span + span {
    width: 30%;
    border-left: 1px solid rgb(40, 157, 204);
    text-align: center;
}

@media(min-width:768px) {
    .default-listing-group {
        padding: 0;
    }
    
    .default-listing-view {
        width: 48.9%;
    }
    
    .default-listing-view:nth-child(2n+1) {
        margin: 0 15px 0 0;
      }
    
    .default-listing {
        display: inline-block;
        padding: 10px;
        border-bottom: none;
    }
    
    .default-listing span {
        width: auto;
        display: block;
        margin: 0 0 5px;
    }
    
    .default-listing span + span {
        width: auto;
        margin: 0; 
       border-left: none;
    }
}
/*========== Start Dashboard ==========*/

/*==== Start Form and Select Default ====*/
.default-form {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
}

.default-form .list {
    margin: 0 -10px;
}

.form-group {
    width: 50%;
    display: inline-block;
    margin: 0 0 10px;
    padding: 0 10px;
    vertical-align: top;
}

.form-group-full {
    width: 100%;
    display: block;
    text-align: center;
}

.default-form label.input-label {
    width: 100%;
    display: block;
    margin: 0 0 5px;
    padding: 0;
    font-size: 14px;
    color: rgb(22, 153, 206);
    text-align: left;
}

.default-form input[type="text"],
.default-form select,
.default-form textarea {
    width: 100%;
    padding: 5px 6px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(221, 221, 221);
}

.default-form i {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.default-form button {
    width: 200px;
    margin: 15px 0 0;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    background: rgb(24,154,207);
    background: -moz-linear-gradient(top, rgb(24,154,207) 0%, rgb(25,155,207) 100%);
    background: -webkit-linear-gradient(top, rgb(24,154,207) 0%,rgb(25,155,207) 100%);
    background: linear-gradient(to bottom, rgb(24,154,207) 0%,rgb(25,155,207) 100%);
    color: rgb(255, 255, 255);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#189acf', endColorstr='#199bcf',GradientType=0 );
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
    transition: 400ms ease;
}

.default-form button:hover,
.default-form button:focus {
    box-shadow: none;
}

/*input::-moz-placeholder{
  color: rgb(255, 255, 255);
}

input::-webkit-placeholder {
    color: rgb(255, 255, 255);
}*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fff !important; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff !important; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff !important;
  text-indent: 0; }

@media(min-width:768px) {
    .form-group {
        width: 33.33%;
    }
    
    .form-group-full {
        width: 100%;
    }
}
/*==== End Form and Select Default ====*/

/*==== Start Login ====*/
.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    background-image: url(../img/login-bg-light.jpg);
    background-size: cover;
}

.login-top-section {
    margin: 0 0 40px;
    text-align: center;
}

.login-top-section img {
    width: 90px;
    margin: 0 0 15px;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.login-top-section h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#login-form {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

#login-form h3 {
    color: rgb(255, 255, 255);
}

.login-group {
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
}

.login-group i {
    width: 45px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 0;
    /*background-color: rgb(11, 104, 161);*/
    background-color: #40b5e6 ;
    color: rgb(255, 255, 255);
    font-size: 26px;
    vertical-align: top;
}

#login-form input,
#login-form select {
    width: 100%;
    height: 40px;
    display: inline-block;
    padding: 5px 10px 5px 55px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5) ;
    border: none;
    border-radius: 0;
}

#login-form input[type="submit"] {
    width: 100%;
    margin: 10px 0 10px;
    padding: 10px;
    background-color: #40b5e6;
    text-transform: uppercase;
}

#login-form a {
    color: rgb(255, 255, 255);
}
/*==== End Form and Select Default ====*/

/*==== End Login ====*/
.user-head-section {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-head-section .img-circle {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 0 10px;
    border: 3px solid rgb(44, 165, 214);
    border-radius: 50%;
    overflow: hidden;
}

.user-head-section .img-circle img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.user-head-section span {
  color: rgb(44, 165, 214);
}

.user-head-section span:last-child {
  color: rgb(119, 119, 119);
}
/*==== End  Employee Detail ====*/

/*==== Start Pending Leave Request ====*/
[view-title="Pending Leave Approval"] .default-content-wrap,
[view-title="Pending Gate Pass Approval"] .default-content-wrap {
    text-align: center;
}

.approvals-listing {
    display: block;
    margin: 0 0 10px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 12px;
}

.approvals {
    display: block;
    margin: 0 0 1px;
    border-bottom: 1px solid rgb(16, 133, 180);
    box-shadow: 0 1px 0 0 rgb(76, 194, 242);
}

.approvals:last-child {
    border-bottom: none;
    box-shadow: none;
}

.approvals span {
    min-height: 41px;
    width: 50%;
    display: inline-block;
    padding: 10px;
    background-color: rgb(44, 165, 214);
    color: rgb(255, 255, 255);
    float: left;
}

.approvals span:first-child {
    background-color: rgb(19, 134, 180);
}

.approvals:last-child span {
    width: 100%;
    padding: 0;
    background-color: rgb(44, 165, 214);
    box-shadow: 0 -12px 30px 0 rgb(19, 134, 180) inset;
    text-align: center;
}

.leave-listing.approvals:last-child span {
    width: 50%;
    padding: 10px;
    background-color: rgb(19, 134, 180);
    box-shadow: none;
    text-align: left;
}

.leave-listing.approvals:last-child span:last-child {
    width: 50%;
    background-color: rgb(44, 165, 214);
}

.approvals span a {
    width: 40px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 0 10px;
}

.btn-approve,
.btn-disapprove {
    margin: 20px 0 0;
    padding: 5px 20px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);
    transition: 400ms ease;
}

.btn-approve:hover,
.btn-approve:focus,
.btn-disapprove:hover,
.btn-disapprove:focus {
    box-shadow: none;
}

.btn-approve {
    margin: 0 15px 0 0;
    background: rgb(52,169,217);
    background: -moz-linear-gradient(top, rgb(52,169,217) 0%, rgb(24,154,207) 100%);
    background: -webkit-linear-gradient(top, rgb(52,169,217) 0%,rgb(24,154,207) 100%);
    background: linear-gradient(to bottom, rgb(52,169,217) 0%,rgb(24,154,207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a9d9', endColorstr='#189acf',GradientType=0 );
}

.btn-disapprove {
    background: rgb(226,51,50);
    background: -moz-linear-gradient(top, rgb(226,51,50) 0%, rgb(209,45,26) 100%);
    background: -webkit-linear-gradient(top, rgb(226,51,50) 0%,rgb(209,45,26) 100%);
    background: linear-gradient(to bottom, rgb(226,51,50) 0%,rgb(209,45,26) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e23332', endColorstr='#d12d1a',GradientType=0 );
}
/*==== End Pending Leave Request ====*/



/*==== Start Default Table ====*/
/*.table-responsive {
    margin: 0;
    border: none;
}

table.table {
  color: rgb(119, 119, 119);
}

table.table thead tr th {
    background: rgb(52,170,217);
    background: -moz-linear-gradient(top, rgb(52,170,217) 0%, rgb(23,154,206) 100%);
    background: -webkit-linear-gradient(top, rgb(52,170,217) 0%,rgb(23,154,206) 100%);
    background: linear-gradient(to bottom, rgb(52,170,217) 0%,rgb(23,154,206) 100%);
    color: rgb(255, 255, 255);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34aad9', endColorstr='#179ace',GradientType=0 );
}

table.table thead tr th:first-child {
    border-top-left-radius: 5px;
}

table.table thead tr th:last-child {
    border-top-right-radius: 5px;
}

table.table thead tr th,
table.table tbody tr td {
    padding: 10px 15px;
    border: none;
}

table.table thead tr,
table.table tbody tr {
    border: none;
}

table.table tbody tr {
    border-bottom: 1px solid rgb(204, 204, 204);
}

table.table tbody tr td a {
    display: inline-block;
    margin: 0 5px 0 0;
    text-decoration: underline;
}

table.table tbody tr td a img {
    width: 24px;
}

table.table tbody tr td a:last-child {
    margin: 0;
}*/
/*==== Start Default Table ====*/